name: pizza_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.1 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  firebase_core: ^2.27.1
  bloc: ^8.1.3
  flutter_bloc: ^8.1.4
  equatable: ^2.0.5

  user_repository:
    path: packages/user_repository

  pizza_repository:
    path: packages/pizza_repository  

  cart_repository:
    path: packages/cart_repository
    
  font_awesome_flutter: ^10.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/
    
